@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@page "/Enroll"

@inject ClassRepository Classes

<PageTitle>Browse and Enroll</PageTitle>

<h1>Browse and Enroll</h1>
<hr />
<h3>Find fun new classes to add to your schedule</h3>

@foreach (var c in classList!)
{
    <ClassListEntry Class=@c></ClassListEntry>
}

@code {
    private List<ClassDBO>? classList;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        // Load class list from database
        classList = Classes.Class_List(IncludeDisabled: false).Get()!;
    }
}