@page "/Enroll/{Id}"

@using CS341_YMCA.Data
@using CS341_YMCA.Controllers

@inject ClassController Classes
@inject Database Sql

<PageTitle>@ActiveClass?.ClassName</PageTitle>

<div class="row">
    <h1>@ActiveClass?.ClassName</h1>
    <hr />

    <div class="col-lg-7">
            <h3>@ActiveClass?.ShortDescription</h3>

            @{
                // Replaces newlines with HTML newlines
                var DescriptionNewlines = (MarkupString)((ActiveClass?.LongDescription ?? "").Replace("\n", "<br />"));
            }
            <p class="mt-4 col-11">@DescriptionNewlines</p>
            <br />

            <!-- CONFIGURABLE IMAGE -->
            <img style="display: block;max-width: 86%;" src="images/stock_photo.jpg" alt="Class image is missing" />
    </div>
    <div class="col-lg-5" style="border: 1px solid black;padding: 1em;">
        <h2>Enrollment Information</h2>

        <p>Interested in this class? Continue reading to enroll.</p>
        
        <p>
            Both members with paid memberships and public non-members
            may enroll and participate in this class.
        </p>
        <!--
            WHEN WE ADD THE FEATURE, ALSO HAVE THIS MESSAGE AVAILABLE:
            ---
            This class is open only to those holding valid Y memberships.
        -->
        
        <!-- MODIFIABLE CLASS PRICES -->
        <div class="row mt-4">
            <div class="col-sm-6" style="text-align: center;">
                <h1>$27<sup>60</sup></h1>
                <p>For membership holders</p>
            </div>
            <div class="col-sm-6" style="text-align: center;">
                <h1>$49<sup>65</sup></h1>
                <p>Without membership</p>
            </div>
        </div>

        <h3>Open seats</h3>
        <!-- MODIFIABLE CLASS SECTIONS -->
        <div class="row section-enroll-list-row">
            <div class="col-sm-7 pt-2">
                <p><strong>Section 1</strong><br />@@ Room 220</p>
                <p>Starting December 19, 2022</p>
                <ul>
                    <li>Mondays <i>1:00 PM - 1:55 PM</i></li>
                    <li>Wednesdays <i>1:00 PM - 1:55 PM</i></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <hr />
                <span style="font-size: 1.6em;font-weight: bold;">3</span>
                <span style="font-size: 1.4em;">&nbsp;open seats!</span>
                <br />
                <button class="btn btn-success mt-4">Claim yours</button>
                <br />
                <hr />
            </div>
        </div>
        <div class="row section-enroll-list-row">
            <div class="col-sm-7 pt-2">
                <p><strong>Section 2</strong><br />@@ Room 220</p>
                <p>Starting December 20, 2022</p>
                <ul>
                    <li>Tuesdays <i>1:00 PM - 1:55 PM</i></li>
                    <li>Thursdays <i>1:00 PM - 1:55 PM</i></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <hr />
                <span style="font-size: 1.6em;font-weight: bold;">9</span>
                <span style="font-size: 1.4em;">&nbsp;open seats!</span>
                <br />
                <button class="btn btn-success mt-4">Claim yours</button>
                <br />
                <hr />
            </div>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    protected SiteUserDBO? LoggedIn { get; set; }
    [Parameter]
    public string? Id { get; set; }

    protected ClassDBO? ActiveClass { get; set; }

    protected override void OnAfterRender(bool FirstRender)
    {
        base.OnAfterRender(FirstRender);

        if (FirstRender)
        {
            ActiveClass = Classes.Class_GetById(int.Parse(Id!)).Get()!;
            StateHasChanged();
        }
    }
}

<style>
    .section-enroll-list-row
    {
        box-shadow: 0 0 0.2em 0.2em grey;
        margin: 0.5em;
        margin-top: 2em;
    }
</style>