@page "/Enroll/{Id}"

@using CS341_YMCA.Data
@using CS341_YMCA.Controllers

@inject ClassController Classes
@inject Database Sql

<PageTitle>@ActiveClass?.ClassName</PageTitle>

<div class="row">
    <h1>@ActiveClass?.ClassName</h1>
    <hr />

    <div class="col-lg-7">
            <h3>@ActiveClass?.ShortDescription</h3>

            @{
                // Replaces newlines with HTML newlines
                var DescriptionNewlines = (MarkupString)((ActiveClass?.LongDescription ?? "").Replace("\n", "<br />"));
            }
            <p class="mt-4 col-11">@DescriptionNewlines</p>
            <br />

            <!-- CONFIGURABLE IMAGE -->
            <img style="display: block;max-width: 86%;" src="images/stock_photo.jpg" alt="Class image is missing" />
    </div>
    <div class="col-lg-5">
        <h3>Enrollment Information</h3>

        <p class="mb-4">Interested in this class? Continue reading to enroll.</p>
        
        <div class="card mb-4">
            <div class="card-header">
                Membership and Fees
            </div>
            <div class="card-body">
                <p>
                    Both members with paid memberships and public non-members
                    may enroll and participate in this class.
                </p>
                <!--
                    WHEN WE ADD THE FEATURE, ALSO HAVE THIS MESSAGE AVAILABLE:
                    ---
                    This class is open only to those holding valid Y memberships.
                -->
        
                <!-- MODIFIABLE CLASS PRICES -->
                <div class="row mt-4">
                    <div class="col-sm-6" style="text-align: center;">
                        <h1>$@((int?)ActiveClass?.MemberPrice)<sup>00</sup></h1>
                        <p>For membership holders</p>
                    </div>
                    <div class="col-sm-6" style="text-align: center;">
                        <h1>$@((int?)ActiveClass?.MemberPrice)<sup>00</sup></h1>
                        <p>Without membership</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Open Seats
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-7 pt-2">
                        <p><strong>Holding sessions</strong><br />in Room 220</p>
                        <p>Starting December 19, 2022</p>
                        <ul>
                            <li>Mondays <i>@@ 1:00 PM - 1:55 PM</i></li>
                            <li>Wednesdays <i>@@ 1:00 PM - 1:55 PM</i></li>
                        </ul>
                    </div>
                    <div class="col-sm-5">
                        <hr />
                        <span style="font-size: 1.6em;font-weight: bold;">3</span>
                        <span style="font-size: 1.4em;">&nbsp;open seats!</span>
                        <br />
                        <button class="btn btn-success mt-4">Claim yours</button>
                        <br />
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code
{
    [CascadingParameter]
    protected SiteUserDBO? LoggedIn { get; set; }
    [Parameter]
    public string? Id { get; set; }

    protected ClassDBO? ActiveClass { get; set; }

    protected override void OnAfterRender(bool FirstRender)
    {
        base.OnAfterRender(FirstRender);

        if (FirstRender)
        {
            ActiveClass = Classes.Class_GetById(int.Parse(Id!)).Get()!;
            StateHasChanged();
        }
    }
}