@page "/"

@using CS341_YMCA.Data

<PageTitle>Home</PageTitle>

<h1>Howdy, <strong>@LoggedIn.FirstName</strong>!</h1>
<hr />
<h3>We're glad you stopped by.</h3>

@code {
    [CascadingParameter]
    protected SiteUserDBO LoggedIn { get; set; } = new();
}