@page "/ManageUsers/{Id}"

@using CS341_YMCA.Components
@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@inject SiteUserRepository SiteUsers
@inject DatabaseService Sql
@inject NavigationManager Nav

<PageTitle>Manage User Details</PageTitle>

@* DELETE CONFIRMATION MODAL*@
<BsModal @ref=DeleteModal
    SubmitText="Delete"
    SubmitAction=DeleteDialogSubmit
    SubmitClass="danger">

    <Title>You are about to delete the account <strong>'@ActiveUser!.Email'</strong></Title>
    <Body>
        <p class="font-weight-bold">This action cannot be undone. Are you sure you wish to continue?</p>
        <ul class="text-danger">
            <li>Payments for this account will <strong>not</strong> be automatically refunded.</li>
            <li>The user will be dropped from all class in which they are enrolled.</li>
            <li>All acquired prerequisites of the account will be reset, and the enrollment history will be lost.</li>
            <li><strong>Ensure all patrons have been refunded accordingly prior to deleting any course or account.</strong></li>
        </ul>
    </Body>
</BsModal>

@* DISPLAY VALIDATION MESSAGE IF EXISTS *@
@if (!string.IsNullOrEmpty(ValidationMessage))
{
    <div class="alert alert-warning">@ValidationMessage</div>
}

@if (LoggedIn!.IsAdmin)
{

    @* HEAD AREA*@
    <h1>User Account Editor</h1>
    <hr />
    <h3>Managing details for <strong>@ActiveUser!.FirstName @ActiveUser.LastName</strong> ('@ActiveUser.Email')</h3>

    @* USER DELETE BUTTON *@
    <button class="btn btn-danger mt-4" @onclick="() => DeleteModal!.Open()">Delete User</button>

} else
{
    <div class="alert alert-danger">You are <strong>not</strong> an admin user and cannot access this page.</div>
}

@code {
    /// <summary>
    /// DBO of the currently logged in user.
    /// </summary>
    [CascadingParameter]
    protected SiteUserDBO? LoggedIn { get; set; }

    /// <summary>
    /// ID of the user being edited.
    /// </summary>
    [Parameter]
    public string? Id { get; set; }

    private SiteUserDBO? ActiveUser;
    private string? ValidationMessage;
    private BsModal? DeleteModal;

    protected override void OnInitialized()
    {
        // Load the existing user record
        if (Id != "Create")
            ActiveUser = SiteUsers.SiteUser_GetById(int.Parse(Id!)).Get()!;
    }

    /// <summary>
    /// Called when the delete dialog is accepted to perform deletion.
    /// </summary>
    /// <returns>Whether the modal should close.</returns>
    private async Task<bool> DeleteDialogSubmit() => await Task.Run(() =>
    {
        // Perform the deletion
        var Result = SiteUsers.SiteUser_DeleteById(ActiveUser!.Id).Get()!;
        Nav.NavigateTo("ManageUsers");

        // Leave dialog open; can mess with redirect to close
        return false;
    });
}