@page "/ManageClasses"

@using CS341_YMCA.Data
@using CS341_YMCA.Controllers

@inject ClassController Classes

<PageTitle>Manage Classes</PageTitle>

@if (LoggedIn?.IsAdmin ?? false)
{
    <h1>Manage Classes</h1>
    <hr />
    <h3>Create and edit the classes which members can join</h3>
} else
{
    <div class="alert alert-danger">You are <strong>not</strong> an admin user and cannot access this page.</div>
}

@code {
    [CascadingParameter]
    protected SiteUserDBO? LoggedIn { get; set; }
}