@* MAIN PAGE FOR LISTING USERS WHICH CAN BE EDITED *@
@* MATTHEW KRINGS *@

@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@page "/ManageUsers"

@inject SiteUserRepository Users

<PageTitle>Member Accounts</PageTitle>

@* BOUND SEARCH "EDIT" FORM *@
<EditForm Model=formBind style="position: absolute;right: 3em;top: 0.5em;">
    <div class="row mt-2">
        @* NAME SEARCH FILTER LABEL *@
        <div class="col-sm-3 pt-2"><label>Name: </label></div>
        @* NAME SEARCH FILTER FIELD *@
        <div class="col-sm-9">
            <input type="text" @bind=formBind.NameFilter
                class="form-control shadow"
                @bind:event="oninput" />
        </div>
    </div>
    <div class="row mt-2">
        @* EMAIL SEARCH FILTER LABEL *@
        <div class="col-sm-3 pt-2"><label>Email: </label></div>
        @* EMAIL SEARCH FILTER FIELD *@
        <div class="col-sm-9">
            <input type="text" @bind=formBind.EmailFilter
                class="form-control shadow"
                @bind:event="oninput" />
        </div>
    </div>
</EditForm>

@if (LoggedIn.IsAdmin)
{

    <h1>Member Accounts</h1>
    <hr />
    <h3>Manage patron account, membership, and payment details</h3>
    
    @* LOAD LIST OF USERS INLINE *@
    var userList = Users.SiteUser_List(formBind.NameFilter, formBind.EmailFilter).Get()!;

    @* TABLE SCROLL PANE *@
    <div class="overflow-auto" style="max-width: 70em;">
    
    @* USER LIST TABLE *@
    <table class="table table-striped mt-4">
    <thead>
    <tr>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Email</th>
        <th scope="col">Y Member</th>
        <th scope="col">Admin</th>
        <th scope="col">Created</th>
        <th scope="col">Modified</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>

        @* ITERATE EACH USER ROW *@
        @foreach (var user in userList)
        {
            <ManageUsersEntry User=@user></ManageUsersEntry>
        }

    </tbody>
    </table>

    </div>
    
    <style>
        td
        {
            vertical-align: middle;
        }
    </style>

} else
{
    <div class="alert alert-danger">You are <strong>not</strong> an admin user and cannot access this page.</div>
}

@code {
    /// <summary>
    /// Schema of data binding for the search fields.
    /// </summary>
    private class FormBind
    {
        public string NameFilter { get; set; } = "";
        public string EmailFilter { get; set; } = "";
    }

    /// <summary>
    /// Bound object instance for the search fields.
    /// </summary>
    private readonly FormBind formBind = new();

    /// <summary>
    /// DBO of the currently logged in user.
    /// </summary>
    [CascadingParameter]
    protected SiteUserDBO LoggedIn { get; set; } = new();
}