@page "/ManageClasses"

@using CS341_YMCA.Data

@inject NavigationManager Nav
@inject IHttpContextAccessor Con
@inject LinkGenerator Links
@inject AuthenticationStateProvider AuthState
@inject Database Sql

@{
    SiteUserDBO? SiteUser = null;
    Sql.ExecuteProcedure<SiteUserDBO>(
        "SiteUser_GetByEmail",
        new
        {
            Email = Auth!.Result.User.Identity!.Name
        },
        (Result) =>
        {
            SiteUser = Result;
        });
}

<PageTitle>Manage Classes</PageTitle>

@if (SiteUser!.IsAdmin)
{
    <h1>Manage Classes</h1>
    <hr />
    <h3>Create and edit the classes which members can join</h3>
} else
{
    <div class="alert alert-danger">You are <strong>not</strong> an admin user and cannot access this page.</div>
}

@code {
    [CascadingParameter]
    protected Task<AuthenticationState>? Auth { get; set; }
}