@page "/Schedule"

@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@inject ClassRepository Classes

<PageTitle>Edit Schedule</PageTitle>

<h1>Edit Schedule</h1>
<hr />
<h3>View and change your current class enrollments</h3>

@{
    var Enrollments = Classes.ClassEnrollment_GetByUserId(LoggedIn!.Id).Get()!;
    var EnrolledCsv = string.Join(',', Enrollments.Select((It) => It.ClassId.ToString()));
    var EnrolledClasses = Classes.Class_GetByIds(EnrolledCsv).Get()!;
}

<div class="overflow-auto mt-3">

@if (EnrolledClasses.Count == 0)
{
    <h3>You are not registered for any classes</h3>
} else
{
    <ClassScheduler DisplayClassTitles=true
        ShowEditing=false
        NumWeeks=5
        DisplayUserSched=LoggedIn.Id
        OverrideDateFocus=true />
}
</div>

<style>
    th.col-group
    {
        background: #621414;
        color: white;
        text-align: center;
        border-left: 2px solid #621414;
    }
    td
    {
        vertical-align: middle;
    }
</style>

@code
{
    [CascadingParameter]
    private SiteUserDBO LoggedIn { get; set; } = new();

    [Parameter]
    public ClassEnrollmentDBO Enrolled {get; set; } = new();
}