@using System.ComponentModel.DataAnnotations

@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@page "/SiteUser/RequestPasswordResetFlow"
@layout SimplifiedLayout

@inject NavigationManager Nav
@inject Database Sql
@inject SiteUserRepository SiteUsers

<PageTitle>Password Reset</PageTitle>

@* DISPLAY VALIDATION ERROR IF IT EXISTS *@
@if (!string.IsNullOrEmpty(validationMessage))
{
    <div class="alert alert-danger">@validationMessage</div>
}

@* DISPLAY SUCCESS MESSAGE IF IT EXISTS *@
@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success">@successMessage</div>
}

@* DISPLAY UI IF ERROR IS BLANK *@
@if(string.IsNullOrEmpty(errorMessage))
{
    <h2>Password Reset</h2>

    <p class="mt-4">
        What email did you use for your account?
    </p>
        
    <EditForm Model=formBind>

    @* EMAIL INPUT FIELD *@
    <label>Email:</label>
    <InputText class="form-control mb-2"
        type="text"
        @bind-Value=formBind.Email />

    @* SUBMIT BUTTON *@
    <button class="btn btn-primary mt-4 me-2" type="submit" @onclick=SubmitPasswordReset>Send Email</button>
    @* RETURN TO LOGIN LINK *@
    <a class="btn btn-secondary mt-4" type="button" href="SiteUser/LoginFlow">Cancel</a>
    
    </EditForm>
} else
{
    @* DISPLAY ERROR MESSAGE IF EXISTS *@
    <div class="alert alert-danger">@errorMessage</div>
}

@code {
    /// <summary>
    /// Layout of bound form data.
    /// </summary>
    private class FormBinding
    {
        [Required]
        public string Email = "";
    }

    /// <summary>
    /// Form-bound object instance.
    /// </summary>
    private FormBinding formBind = new();

    private string errorMessage = "";
    private string validationMessage = "";
    private string successMessage = "";

    /// <summary>
    /// Called to complete the password reset.
    /// </summary>
    private void SubmitPasswordReset()
    {
        // Validate provided details
        if (string.IsNullOrEmpty(formBind.Email))
        {
            validationMessage = "Please provide your email below.";
            return;
        }

        // Perform the reset request; sends an email
        var result = SiteUsers.SiteUser_RequestReset(formBind.Email);
        // Display appropriate message for result
        if (result.Success)
        {
            successMessage = "A reset email should arrive soon. Double check your spam folder.";
        } else
        {
            errorMessage = "An unexpected error occurred. Please try again later.";
        }
    }
}