@using CS341_YMCA.Data
@using CS341_YMCA.Controllers
@using System.ComponentModel.DataAnnotations

@page "/SiteUser/RequestPasswordResetFlow"
@layout SimplifiedLayout

@inject NavigationManager Nav
@inject Database Sql
@inject SiteUserController SiteUsers

<PageTitle>Password Reset</PageTitle>

@if (!string.IsNullOrEmpty(ValidationMessage))
{
    <div class="alert alert-danger">@ValidationMessage</div>
}

@if (!string.IsNullOrEmpty(SuccessMessage))
{
    <div class="alert alert-success">@SuccessMessage</div>
}

@if(string.IsNullOrEmpty(ErrorMessage))
{
    <h2>Password Reset</h2>

    <p class="mt-4">
        What email did you use for your account?
    </p>
        
    <EditForm Model=FormBind>
        <label>Email:</label>
        <InputText class="form-control mb-2"
            type="text"
            @bind-Value=FormBind.Email />

        <button class="btn btn-primary mt-4" type="submit" @onclick=SubmitPasswordReset>Send Email</button>&nbsp;
        <a class="btn btn-secondary mt-4" type="button" href="SiteUser/LoginFlow">Cancel</a>
    </EditForm>
} else
{
    <div class="alert alert-danger">@ErrorMessage</div>
}

@code {
    private class FormBinding
    {
        [Required]
        public string Email = "";
    }

    private FormBinding FormBind = new();
    private string ErrorMessage = "";
    private string ValidationMessage = "";
    private string SuccessMessage = "";

    private void SubmitPasswordReset()
    {
        if (string.IsNullOrEmpty(FormBind.Email))
        {
            ValidationMessage = "Please provide your email below.";
            return;
        }

        var Result = SiteUsers.SiteUser_RequestReset(FormBind.Email);
        if (Result.Success)
        {
            SuccessMessage = "A reset email should arrive soon. Double check your spam folder.";
        } else
        {
            ErrorMessage = "An unexpected error occurred. Please try again later.";
        }
    }
}