@* A BOOTSTRAP MODAL COMPONENT WITH CONFIRM/CANCEL BUTTONS *@
@* ZACH GOETHEL *@

@* ONLY RENDER HTML WHEN OPEN *@
@if (isOpen)
{
    <div class="modal fade show" style="display: block;background-color: rgba(10, 10, 10, 0.8);">
    <div class="modal-dialog">
    <div class="modal-content">

    <div class="modal-header">
        @* RENDER ONLY NON-NULL SECTIONS *@
        @if (Header is not null)
        { @Header }
        @if (Title is not null)
        { <h4 class="modal-title">@Title</h4> }
        @if (!string.IsNullOrEmpty(CancelText))
        { <button type="button" class="btn btn-close close" @onclick=Cancel></button> }
    </div>
    <div class="modal-body">
        @if (!string.IsNullOrEmpty(errorMessage))
        { <div class="alert alert-warning">@errorMessage</div> }
        @if (Body is not null)
        { @Body }
    </div>
    <div class="modal-footer">
        @if (Footer is not null)
        { @Footer }
        @if (!string.IsNullOrEmpty(CancelText))
        { <button type="button" class="btn btn-secondary" @onclick=Cancel>@CancelText</button> }
        @if (!string.IsNullOrEmpty(SubmitText))
        { <button type="button" class="btn btn-@SubmitClass" @onclick=Submit>@SubmitText</button> }
    </div>

    </div>
    </div>
    </div>
}