@using CS341_YMCA.Helpers
@using CS341_YMCA.Services

@inject FileStorageService FileStorage

<div class="card class-list-item" style="vertical-align: top;">
    @if (LoggedIn?.IsAdmin ?? false)
    {
        @* ADMIN EDIT BUTTON BAR *@
        <div class="class-list-admin-actions">
            <p><strong>Admin actions</strong></p>
            @* CLASS EDITOR LINK *@
            <a href="ManageClasses/@Class.Id"><i class="oi oi-pencil" style="float: right;" title="Edit this class"></i></a>
        </div>
    }

    @if (Class.MemberEnrollmentOpen && !Class.NonMemberEnrollmentOpen)
    {

        @* MEMBER-ONLY ENROLLMENT OPEN *@
        <h4 style="float: left;position: absolute;"><span class="badge bg-info bg-info-glow mt-2 ms-2">Open early for<br />Y members!</span></h4>
    
    } else if (Class.MemberEnrollmentOpen || Class.NonMemberEnrollmentOpen)
    {
        @* CLASS IS OPEN FOR ENROLLMENT *@
        <h4 style="float: left;position: absolute;"><span class="badge bg-success bg-success-glow mt-2 ms-2">Open for<br />enrollment!</span></h4>

        @if (!(LoggedIn?.IsMember ?? false) && !Class.AllowNonMembers)
        {

            @* ENROLLMENT IS OPEN BUT REQUIRES MEMBERSHIP *@
            <h4 style="float: left;position: absolute;margin-top: 2.7em;"><span class="badge bg-danger bg-danger-glow mt-2 ms-2">Requires<br />membership</span></h4>
        
        }
    }

    @* CLASS DISPLAY CARD IMAGE *@
    <img class="card-img-top" src="@photoUri" alt="Class image is missing" style="height: 16em;object-fit: cover;">
    <div class="card-body">
        @* CARD BODY CONTENTS *@
        <h5 class="card-title">@Class.ClassName</h5>
        <p class="card-text">@Class.ShortDescription</p>
        <a href="Enroll/@Class.Id" class="btn btn-primary">Learn more</a>
    </div>
</div>

@code
{
    /// <summary>
    /// Class displayed on this list row.
    /// </summary>
    [Parameter]
    public ClassDBO Class { get; set; } = new();

    /// <summary>
    /// DBO of the currently logged in user.
    /// </summary>
    [CascadingParameter]
    public SiteUserDBO? LoggedIn { get; set; }

    private string photoUri = "";

    protected override void OnInitialized()
    {
        base.OnInitialized();

        try
        {
            // Load photo if one is set
            if (Class.ClassThumbId is not null)
            {
                using var stream = FileStorage!.RetrieveFile(Class.ClassThumbId ?? 0).Get()!;
                var bytes = new byte[stream.Length];
                stream.Read(bytes, 0, bytes.Length);
                // Use byte array to build base-64 image URI
                photoUri = $"data:image/jpeg;base64,{Convert.ToBase64String(bytes)}";
            } else
                photoUri = "images/not_found.svg";
        } catch (Exception)
        {
            photoUri = "images/error_thumb.svg";
        }
    }
}

<style>
    div.class-list-item
    {
        width: 15em;
        display: inline-block;
        margin: 1em;
    }

    div.class-list-admin-actions
    {
        background: red;
        color: white;
        font-size: 1.2em;
        padding: 1em;
        padding-bottoM: 2em;
        cursor: pointer;
    }

    div.class-list-admin-actions *
    {
        color: white;
        cursor: pointer;
    }

    div.class-list-admin-actions p
    {
        float: left;
        margin-bottom: 0;
        margin-top: -0.2em;
    }

    .bg-success-glow
    {
        box-shadow: 0 0 0.2em 0.2em #badfba;
    }
    .bg-danger-glow
    {
        box-shadow: 0 0 0.2em 0.2em #e2afc0;
    }
    .bg-warning-glow
    {
      box-shadow: 0 0 0.2em 0.2em #c4be8e;
    }
    .bg-info-glow
    {
        box-shadow: 0 0 0.2em 0.2em #bad6df;
    }
</style>