@using CS341_YMCA.Helpers
@using CS341_YMCA.Services
@using CS341_YMCA.Pages

@inject ClassRepository Classes

@if(!string.IsNullOrEmpty(ValidationMessage))
{
    <div class="alert alert-warning">
        @ValidationMessage
    </div>
}

@if (HasMoreRight)
{
    <h4 class="ms-4 me-4 text-info"
        style="float: right;cursor: pointer;"
        @onclick="() =>
        {
            WeekStart = WeekStart.AddDays(7);
            HasMoreRight = false;
            StateHasChanged();
        }">
    <span class="badge bg-info" style="display: inline;">MORE</span>
    <i class="ms-2 oi oi-chevron-right" /></h4>
} else
{
    <h4 class="ms-4 me-4"
        style="float: right;cursor: pointer;">
    <i class="oi oi-chevron-right"
        style="cursor: pointer;"
        @onclick="() => { WeekStart = WeekStart.AddDays(7 * NumWeeks); }"
    /></h4>
}

<h4 class="mt-1 me-4">
<i class="oi oi-chevron-left"
    style="cursor: pointer;"
    @onclick="() => { WeekStart = WeekStart.AddDays(-7 * NumWeeks); }"
/>
    Week of @WeekStart.ToLongDateString().Replace("Sunday, ", "")
</h4>

@{
    string[] _Days = { "Su", "Mo", "Tu", "We", "Th", "Fr", "Sa" };
}

@for (int k = 0; k < NumWeeks; k++)
{
<div class="_col-no-margin mt-1">
    @for (int j = 0; j < 7; j++)
    {
        <div style="width: 14%;" class="col">
            @if (k == 0) { <h3>@_Days[j]</h3> }
            <ClassScheduleDay Class=@Class
                Schedule=@Schedule
                Date=@WeekStart.AddDays(k * 7 + j)
                ShowEditing=ShowEditing
                UpdateCallback="() =>
                {
                    InvokeAsync(() => StateHasChanged());
                }"
                DisplayClassTitles=DisplayClassTitles
                DeleteIds=DeleteIds
            />
        </div>
    }
</div>
}

@code
{
    [Parameter]
    public ClassDBO Class { get; set; } = new();
    [Parameter]
    public bool ShowEditing { get; set; } = false;
    [Parameter]
    public int NumWeeks { get; set; } = 1;
    // Following flags are specific to read-only mode
    [Parameter]
    public int DisplayUserSched { get; set; } = 0;
    [Parameter]
    public bool DisplayClassTitles { get; set; } = false;
    [Parameter]
    public bool OverrideDateFocus { get; set; } = false;

    public List<ClassScheduleDBO> Schedule = new();
    private string ValidationMessage = "";
    private DateTime WeekStart = DateTime.Today;
    private bool HasMoreRight = false;
    private List<int> DeleteIds = new();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Schedule = (DisplayUserSched == 0)
            ? Classes.ClassSchedule_List(Class!.Id).Get()!
            : Classes.ClassSchedule_GetByUserId(DisplayUserSched).Get()!;

        var _WeekStart = Schedule.FirstOrDefault()?.FirstDate ?? DateTime.Today;
        if (OverrideDateFocus) _WeekStart = DateTime.Today;
        var Offset = -(int)_WeekStart.DayOfWeek;
        WeekStart = _WeekStart.AddDays(Offset);

        @*
        HasMoreRight = Schedule.Find((It) =>
        {
            return It.FirstDate.AddDays(It.Recurrence * It.Occurrences) >= WeekStart.AddDays(7 * NumWeeks);
        }) != null;
        *@
    } 

    public void Save()
    {
        Classes.ClassSchedule_DeleteByIds(string.Join(',', DeleteIds.Select((It) => It.ToString()))).Get();

        foreach (var Session in Schedule)
        {
            // Remove bogus IDs from new entities
            if (Session.Id < 0) Session.Id = null;
            var Result = Classes.ClassSchedule_Set(
                Id: Session.Id,
                ClassId: Class.Id,
                FirstDate: Session.FirstDate,
                Recurrence: Session.Recurrence,
                Occurrences: Session.Occurrences,
                Duration: Session.Duration
            );

            Session.Id = Result.Get()!;
        }
    }

    private void OnAddClick()
    {
        var Created = new ClassScheduleDBO();
        Schedule.Add(Created);

        StateHasChanged();
    }
}

<style>
    div._col-no-margin .col
    {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0.2em;
        min-width: 6.5em;
        max-width: 14%;
        display: inline-block;
        vertical-align: top;
    }
    div.schedule-day-block
    {
        padding: 0.5em;
        border: 1px solid grey;
        border-radius: 0.6em;
        box-shadow: 0 0 0.3em 0.3em #c2c2c2;
        border-left: 0.4em solid green;
        min-height: 10.8em;
        padding-bottom: 0;
    }
    .oi-chevron-top
    {
        padding-left: 2em;
    }
    .bootstrap-datetimepicker-widget table td span
    {
        display: inline;
    }
</style>