@* UTILITY COMPONENT FOR ADDING/REMOVING PREREQ CODES FROM A CSV LIST *@
@* ZACH GOETHEL *@

@using CS341_YMCA.Components

<h3>

    @* SHOW SELECTED ITEMS FROM CSV *@
    @foreach (var Item in selected)
    {
        <span class="badge bg-secondary me-2 mt-2">
            @Item

            @* ITEM DESELECT BUTTON *@
            <i @onclick="() => { OnRemoveClick(Item); }"
                class="oi oi-trash ms-2"
                style="cursor: pointer;" />
        </span>
    }

    @* "Add +" SELECT DROPDOWN *@
    <select class="form-control return-to-n1 mt-2"
        @onchange=OnAddSelectorChange
        style="width:5em;display: inline-block;padding-bottom: 0.2em;">
        
        @* HIDDEN DEFAULT ITEM FOR "Add +" *@
        <option value="-1" selected hidden>Add +</option>
        @* CONTROL OPTION FOR ADDING ITEMS *@
        <option value="-2">Create new code</option>

        @* ADD IN ITEMS FROM NON-SELECTED LIST *@
        @foreach (var item in notSelected)
        {
            <option value=@item>@item</option>
        }
    </select>

</h3>

@* "ADD CODE"" MODAL FOR CREATING CSV ENTRY *@
<BsModal @ref=addCodeModal
    SubmitAction=AddCodeSubmit>

    <Title>Add a new requirement code</Title>
    <Body>

    <EditForm Model=formBind>
    
    @* DISPLAY VALIDATION MESSAGE IF IT EXISTS*@
    @if (!string.IsNullOrEmpty(validationMessage))
    {
        <div class="alert alert-danger">@validationMessage</div>
    }

    @* CODE INPUT FIELD *@
    <InputText class="form-control" @bind-Value=formBind.Value />
    <span><i>(Use alphanumeric characters)</i></span>

    </EditForm>
    </Body>
</BsModal>