@using CS341_YMCA.Data

@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthState

<PageTitle>YMCA Enrollment Portal</PageTitle>

<style>
    body
    {
        font-family: system-ui;
    }
</style>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick=LogOutClick class="btn btn-primary">Log out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    void LogOutClick()
    {
        var _AuthState = AuthState as AuthStateProvider;
        _AuthState?.LogOut();
    }
}