@inherits LayoutComponentBase

<PageTitle>YMCA Enrollment Portal</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button @onclick=LogOutClick class="btn btn-primary">Log out</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    void LogOutClick()
    {
        
    }
}