@using CS341_YMCA.Data

@inherits LayoutComponentBase

@inject AuthenticationStateProvider AuthState
@inject LinkGenerator Links
@inject NavigationManager Nav
@inject IHttpContextAccessor Con

<PageTitle>YMCA Enrollment Portal</PageTitle>

<AuthorizeView>
<Authorized>
    <style>
        body
        {
            font-family: system-ui;
        }
    </style>

    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</Authorized>
<NotAuthorized>

</NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter]
    protected Task<AuthenticationState>? Auth { get; set; }

    protected override void OnAfterRender(bool FirstRender)
    {
        base.OnAfterRender(FirstRender);

        if (!Auth!.Result.User.Identity!.IsAuthenticated)
        {
            var Path = Links.GetPathByAction(Con.HttpContext!, "LoginFlow", "SiteUser");
            Nav.NavigateTo(Path!);
        }
    }
}