@using CS341_YMCA.Data

<tr>
    <td>@Class?.ClassName</td>
    <td>
        <h5>
            @if(Class?.AllowEnrollment ?? false)
            {
                <span class="badge bg-success bg-success-glow">Open</span>
            } else
            {
                <span class="badge bg-danger bg-danger-glow">Closed</span>   
            }
        </h5>
    </td>
    <td>&mdash;</td>
    <td>&mdash;</td>
    <td>&mdash;</td>
    <td>@Class?.Created.ToShortDateString()<br />@Class?.Created.ToShortTimeString()</td>
    <td>@Class?.Updated.ToShortDateString()<br />@Class?.Updated.ToShortTimeString()</td>
    <td>
        <a href="ManageClasses/@Class?.Id" class="btn btn-primary">Editor</a>
        <a href="Enroll/@Class?.Id" class="btn btn-secondary">Enrollment page</a>
    </td>
</tr>

@code
{
    [Parameter]
    public ClassDBO? Class { get; set; }
    [CascadingParameter]
    public SiteUserDBO? LoggedIn { get; set; }
}

<style>
    .bg-success-glow
    {
        box-shadow: 0 0 0.2em 0.2em #badfba;
    }
    .bg-danger-glow
    {
        box-shadow: 0 0 0.2em 0.2em #e2afc0;
    }
</style>