@using CS341_YMCA.Data

<tr>
    <td>@Class?.ClassName</td>
    <td>
        <h4>
            @if(Class?.AllowEnrollment ?? false)
            {
                <div class="badge bg-success _bg-success">Open</div>
            } else
            {
                <div class="badge bg-danger _bg-danger">Closed</div>   
            }
        </h4>
    </td>
    <td>&mdash;</td>
    <td>&mdash;</td>
    <td>&mdash;</td>
    <td>@Class.Created.ToShortDateString()<br />@Class.Created.ToShortTimeString()</td>
    <td>@Class.Updated.ToShortDateString()<br />@Class.Updated.ToShortTimeString()</td>
    <td>
        <a href="ManageClasses/@Class?.Id" class="btn btn-primary">Editor</a>
        <a href="Enroll/@Class?.Id" class="btn btn-secondary">Enrollment page</a>
    </td>
</tr>

@code
{
    [Parameter]
    public ClassDBO? Class { get; set; }
    [CascadingParameter]
    public SiteUserDBO? LoggedIn { get; set; }
}

<style>
    ._bg-success
    {
        box-shadow: 0 0 0.2em 0.2em #badfba;
    }
    ._bg-danger
    {
        box-shadow: 0 0 0.2em 0.2em #e2afc0;
    }
</style>